* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

a:link {
    text-decoration: none;
}

ol {
    margin-left: 1rem;
}